
@{
    ViewBag.Title = "Alumna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Gestión de Empleados</h4>
<div class="alert alert-@ViewBag.alerta"> - - <b>@ViewBag.res</b> - - </div>
<form action="/Alumno/Index" method="post">
    <table>
        <tr>
            <td style=""></td>
        </tr>
    </table>
</form>
<br />
<br />
