
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                REGISTRO DE RUTAS
            </div>
            <br />

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">AGENCIA</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <br />
                        <div class="modal-body">
                            <form action="/" method="post">
                                <div class="form-row">
                                    <input type="hidden" id="txtIdRuta" readonly />
                                    <div class="form-group col-md-6">
                                        <label for="nombre_ruta">RUTA</label>
                                        <input type="text" class="form-control" id="nombre_ruta" placeholder="Nombre Ruta">
                                    </div>

                                </div>






                            </form>


                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card-body">
                <table id="tdruta" class="display responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>nombre_ruta</th>
                            <th>mantenimiento</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>



</body>
</html>


@section    scripts{
    <script>


        var tabla_ruta;
    $(document).ready(function () {
        tabla_ruta = $('#tdruta').DataTable({
            "ajax": {
                "url":"@Url.Action("Listar","ruta")",
                "type": "GET",
                "contentType":"application/json; charset=utf-8",
                "dataType":"json"
            },
            "columns":[
                { "data": "Ruta1", "autoWidth": true },

                {
                    "data": "id_ruta", "autoWidth": true, "render": function (data) {
                        return "<button class='btn btn-primary btn-sm' type='button' onclick='abrirModal1(" + data + ")'><i class='fas fa-pen'></i></button>" +
                            "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Eliminar(" + data + ")'><i class='fa fa-trash'></i></button>"
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px",

                }],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            abrirModal1(0)
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }
        });
    });
        function abrirmodal($idruta) {
            alert($idruta);
        }

        function eliminar($idruta) {
            alert("Eliminar: " + $idruta);
        }

        $(document).ready(function () {
            $('#btnagregar').click(function (e) {
                abrirModal1(0);
            });
        });

        function abrirModal1($id_ruta) {

            $("#txtIdRuta").val($id_ruta);
        if ($id_ruta != 0) {

            jQuery.ajax({
                url: "@Url.Action("Obtener","ruta")" + "?idruta=" + $id_ruta,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data != null) {


                        alert(data["Ruta1"])

                        $('#exampleModalCenter').modal('show');
                        $("#nombre_ruta").val(data["Ruta1"]);
                    }
                }
            });
        }else {
                //$("#nombre_agencia").val("");
                $('#exampleModalCenter').modal('show');

            }

        }

        function Guardar() {
            var $data = {
                oRuta: {
                id_ruta: parseInt($("#txtIdRuta").val()),
                Ruta1: $("#nombre_ruta").val()
                }
            }

            jQuery.ajax({
                url: "@Url.Action("Guardar", "ruta")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {


                    if (data.resultado) {
                        tabla_ruta.ajax.reload();
                        $("#exampleModalCenter").modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        alert("Datos Guardados Correctamente");
                        $("#nombre_ruta").val("");
                    } else {
                        alert("No se pudo guardar los cambios");
                        console.log(data)
                        console.log()
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                }
            });

        }



    </script>>

    }